.navbar {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  font-family: poppins, sans-serif;
  border-bottom: 1px solid black;
  box-shadow: 0 8px 20px rgba(38, 36, 36, 0.1);
  position:relative;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.search-box:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
}
.search-box input:focus {
  outline: 2px solid #ff6b6b;
}
.search-box:focus-within {
  transform: scale(1.02);
}
.search-box button {
  border: none;
  background: #ff6b6b;
  color: white;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background: #ff4c4c;
  transform: scale(1.05);
}
/* .navbar.scroll {
  transform: translateY(-100%);
} */

.navbar-logo h1 {
  font-family: "Playwrite DE SAS", cursive;
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}


.navbar-nav ul {
  display: flex;
  gap: 30px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav ul li {
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.navbar-nav ul li:hover {
  transform: scale(1.05);
}

.navbar-nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.loginBtn {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

.logoutBtn {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}
.createBtn {
  padding: 8px 16px;
  background: rgb(16, 185, 129);    
  border-radius: 6px;
  color: white !important;
  font-weight: 600;
}

.createBtn:hover {
  background: rgb(5, 150, 105);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {

  .navbar {
    flex-wrap: nowrap; 
    justify-content: center;
    padding: 15px;
  }
  .navbar-logo {
    margin: 0 auto;
  }
  .navbar-logo h1 {
    font-size: 1.6rem;
  }
  .search-box {
    order: 3; 
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }
  .hamburger {
    position: absolute;
    display: flex;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 300;
  }

  .navbar-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;

    background-color: black;
    transform: translateX(-100%);
    opacity: 0;

    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 200;

    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .navbar-nav.open {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
  }

  .navbar-nav ul {
    flex-direction: column;
  }

  .navbar-nav ul li {
    margin: 20px 0;
    text-align: center;
  }

  .navbar-nav ul li a {
    font-size: 1.1rem;
  }
}
